<html>

<head>
    <meta charset="UTF-8">
    <title>Carb Cycling Calculator</title>
    
    <!--Application Dependencies-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>-->

    <!--Scripts below are minified versions of the scripts above-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>-->
    <!--<script scr="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <!--Application Code-->
    <script src="src/index.js"></script>
    <!-- <script src="dist/bundle.js"></script> -->



</head>

<body ng-app="my_app">
    <div ng-controller="main_controller">
        <form> 
            <input type="text" name="height" placeholder="enter height" ng-model="height"></input>
            <input type="text" name="weight" placeholder="enter weight" ng-model="weight"></input>
            <input type="text" name="age" placeholder="enter age" ng-model="age"></input>
            <select name="gender" ng-model="gender">
                <option value="">-- Pick your gender --</option>
                <option value="male">male</option>
                <option value="female">female</option>
            </select>
            <select name="activity_level" ng-model="activity_level">
                <option value="">--Select Activity Level--</option>
                <option value="1.0">Sedentary</option>
                <option value="1.2">Very Light Activity</option>
                <option value="1.4">Light Activity</option>
                <option value="1.6">Moderate Activity</option>
                <option value="1.8">High Activity</option>
                <option value="2.0">Extreme Activity</option>
            </select>
            <select name="goal" ng-model="goal">
                    <option value="">--Select Goal--</option>
                    <option value="Cut">Cut</option>
                    <option value="Maintain">Maintain</option>
                    <option value="Gain">Gain</option>
                </select>
            <input type="button" value="submit" ng-click="calculate(height, weight, age, gender, activity_level, goal)"></input>
        </form>
    </div>
</body>

</html>