<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <title>Carb Cycling Calculator</title>
    
    <!--Application Dependencies-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!--Application Code-->
    <script src="src/index.js"></script>
    <!-- <script src="dist/bundle.js"></script> -->



</head>

<body ng-app="my_app">
    <div ng-controller="main_controller">
        <form> 
            <input type="text" name="height" placeholder="enter height" ng-model="height"></input>
            <input type="text" name="weight" placeholder="enter weight" ng-model="weight"></input>
            <input type="text" name="age" placeholder="enter age" ng-model="age"></input>
            <select name="gender" ng-model="gender">
                <option value="">-- Pick your gender --</option>
                <option value="male">male</option>
                <option value="female">female</option>
            </select>
            <select name="activity_level" ng-model="activity_level">
                <option value="">--Select Activity Level--</option>
                <option value="1.0">Sedentary</option>
                <option value="1.2">Very Light Activity</option>
                <option value="1.4">Light Activity</option>
                <option value="1.6">Moderate Activity</option>
                <option value="1.8">High Activity</option>
                <option value="2.0">Extreme Activity</option>
            </select>
            <select name="goal" ng-model="goal">
                    <option value="">--Select Goal--</option>
                    <option value="Cut">Cut</option>
                    <option value="Maintain">Maintain</option>
                    <option value="Gain">Gain</option>
            </select>
            <select name="protein" ng-model="protein">
                    <option value="">--Select Protein Ratio--</option>
                    <option value="0.80">0.8g / lbs of body weight</option>
                    <option value="1.00">1.0g / lbs of body weight</option>
                    <option value="1.25">1.25g / lbs of body weight</option>
                    <option value="1.50">1.5g / lbs of body weight</option>
            </select>
            <input type="button" value="submit" ng-click="calculate(height, weight, age, gender, activity_level, goal, protein)"></input>
        </form>
    </div>
</body>

</html>